.tituloMusicaContextual {
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
}
.preguntasContextual {
  color: #26262e;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: center;
  margin-top: 25px;
}
.generos {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: center;
  vertical-align: center;
  margin-left: 40px;
  font-weight: bold;
}
.ocasion,
.sientes,
.clima {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 25px;
  color: #26262e;
  font-weight: bold;
}
.seleccionContextual {
  margin-top: 15px;
  margin-left: 15px;
  color: #26262e;
}
.todosGeneros1 {
  margin-left: 6px;
  margin-right: 0.1px;
}
.todosGeneros2 {
  margin-left: 12px;
}
.crearPlaylist {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 35px;
}

option,
select {
  background-color: white;
  color: #26262e;
  font-size: 16px;
}
