input {
<<<<<<< HEAD
  border: transparent;
  height: 43px;
  outline: none;
}

.inputComponent img {
  height: 50%;
}

.inputComponent {
  align-items: center;
  display: flex;
  width: 320px;
  top: 16px;
  left: 16px;
  gap: 12px;
  height: 48px;
  border: 2px solid #ff8e0a;
  border-radius: 4px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  cursor: pointer;
  font-size: 16px;
  padding: 12px, 16px, 12px, 16px;
  text-decoration: none;
  font-weight: bold;
  padding-left: 10px;
}

.buscadorGris {
  align-items: center;
  display: flex;
  width: 80vw;
  top: 16px;
  left: 16px;
  gap: 12px;
  height: 48px;
  border: 2px solid #bfc0c1;
  border-radius: 4px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  cursor: pointer;
  font-size: 16px;
  padding: 12px, 16px, 12px, 16px;
  text-decoration: none;
  font-weight: bold;
  padding-left: 10px;
  color: #bfc0c1;
  outline: none;
}






/*.inputComponent input {
=======
>>>>>>> e02c2b8de5f1a33e2a340b0b5fc74d0ca8d93331
  border: transparent;
  height: 43px;
  outline: none;
}

.inputComponent img {
  height: 50%;
}

.inputComponent {
  align-items: center;
  display: flex;
  width: 320px;
  top: 16px;
  left: 16px;
  gap: 12px;
  height: 48px;
  border: 2px solid #ff8e0a;
  border-radius: 4px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  cursor: pointer;
  font-size: 16px;
  padding: 12px, 16px, 12px, 16px;
  text-decoration: none;
  font-weight: bold;
  padding-left: 10px;
}

.buscadorGris {
  align-items: center;
  display: flex;
  width: 80vw;
  top: 16px;
  left: 16px;
  gap: 12px;
  height: 48px;
  border: 2px solid #bfc0c1;
  border-radius: 4px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  cursor: pointer;
  font-size: 16px;
  padding: 12px, 16px, 12px, 16px;
  text-decoration: none;
  font-weight: bold;
  padding-left: 10px;
  color: #bfc0c1;
  outline: none;
}