
body {
    width: 100vw;
    height: 100vh;
}

.keyboard {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.image-keyboard {
    width: 100vw;
}

.form-sesion {
  text-align: center;
  margin-top: 15%;
}

label {
    gap: 10px;
}