.cupido {
    width: 100vw;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.cupido-artist {
    height: 60vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.swipe {
    text-align: center;
    position: absolute;
    background-color: white;
    width: 250px;
    border-top-right-radius: 50px;
    padding-bottom: 20px;
}

.cupido-card {
    position: absolute;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-top-right-radius: 50px !important;
}

.artista-img {
    width: 250px;
    height: 250px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.artist-name {
    margin: 20px;
    font-weight: bolder;
    font-size: 24px;
}

.boton-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}