.busquedas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buscadorInput {
    position: fixed;
    padding-top: 40px;
    background-color: white;
    width: 100%;
    padding-left: 25px;

}

.lista-busquedas {
    width: 100%;
    margin-top: 170px;
}

.first-p {
    font-weight: bolder;
}

.title-container {
    justify-content: space-between;
    margin: 25px 0;
    width: 78vw;
    display: flex;
    align-items: center;
}

.busqueda-bar {
    height: 2px;
    width: 35vw;
    background-color: #E4E6E8;
}

.second-p {
    font-weight: bolder;
    color: #BFC0C1;
}

.teclado-container {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.teclado-container img {
    width: 100vw;
    height: 100%;
}

.artistaContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 15px;
    height: 60px;
}

.imgArtista {
    width: 50px;
    height: 50px;
    padding-right: 5px;
    padding-bottom: 0;
}

.nombreArtista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
}