.general-header {
    padding-top: 5vh;
    background: linear-gradient(#ff880031 20%,
            #ff880021 60%,
            rgb(255, 255, 255) 85%);
    position: relative;
    display: flex;
}

.title-header {
    margin: auto;
    font-weight: bolder;
}

.arrow {
    left: 10%;
    position: absolute;
}