.container {
    width: 100vw;
    height: 100vh;
}

.configuracion {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    margin: auto;
    font-size: 16px;
}

.top-config {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttons-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.bottom-config {
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 20vh;
}

.config-bar {
    height: 2px;
    background: #E4E6E8;
    width: 85vw;
}